* {
    background-color: #8d86b2;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-size: 25px;
    background-color: #e3bc7d;
    border-radius: 5px;
    border-color: #e3bc7d;
    border: 5px solid #e3bc7d;
}

.container {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.button-container {
    display: flex;
    gap: 10%;
    justify-content: center;
    margin-top: 20px;
    width: 50%;
    margin-left: 25%;
}

#submit-btn {
    background-color: #167dfb;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border-color: #167dfb;
    width: 46%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 30px;
    font-size: 20px;
}

#submit-btn:hover {
    background-color: #0073ff;
}

#submit-btn:active {
    transform: scale(0.95);
}

#clear-btn {
    background-color: #ff3535;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border-color: #ff3535;
    width: 46%;
    margin-left: 2%;
    margin-top: 30px;
    font-size: 20px;
}

#clear-btn:hover {
    background-color: #ff0000;
}

#clear-btn:active {
    transform: scale(0.95);
}

.menu-bar {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    background-color: #8d86b2;
    padding: 10px;
}

.menu-item {
    color: #fff;
    background-color: #837ca7;

    margin: 0 10px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    font-size: larger;
}

.menu-item-active {
    color: #fff;
    background-color: #766fa0;

    margin: 0 10px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    font-size: larger;
}

#results {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
  
.word-group {
    flex: 1;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    border: 5px solid #ccc;
    min-width: 200px;
}
  
.word-group h3 {
    margin-top: 0;
    color: black;
    background-color: white;
    text-align: center;
}
  
.word-group p {
    display: inline-block;
    margin: 5px 0;
    color: white;
    text-align: center;
    font-size: larger;
    padding: 10px;
    margin: 5px;
    background-color: #766fa0;
    border-radius: 5px;
}
  